* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	font-family: 'Montserrat', sans-serif;
}

body {
	height: 148vh;
    background: radial-gradient(circle, #ffffff, #c0c0c0);
	background-repeat: no-repeat;
	background-size: cover;
  	font-size: 14px;
  	line-height: 22px;
  	color: #555555;
}

hr {
	border: none;
	height: 2px;
	background-color: #c2efff;
	margin: 15px 0;
}

.bold {
	font-weight: 700;
	font-size: 25px;
	text-transform: uppercase;
}

.resume {
	width: 80%;
	display: flex;
	margin: 36px 360px;
}

.left {
	width: 450px;
	background: #0bb5f4;
}

img {
	width: 100%;
	height: 100%;
}

.resume .left .info img{
	height: 35px;
	width: 35px;
	background-color: #63d6ff;
	border: 1px solid transparent;
	border-radius: 30%;
}

.resume .left .content{
	padding:0 15px;
}

.resume .left .bold1{
	font-size: 25px;
	text-transform: capitalize;
	padding: 10px;
	color: white;
}

.resume .left {
	margin-bottom: 3px;
}

.resume .left .bold{
	padding: 10px;
	color: white;
}

.resume .left li {
	display: block;
	margin-bottom: 10px;
	margin-left: 10px;
	align-items: center;
  }

.resume .left .regular{
	margin-left: 10px;
}

.resume .left .regular{
	color: #fff;
}

.resume .left .info table {
	width: 100%;
	border-collapse: collapse;
	table-layout: auto;
}

.resume .left .info td {
	text-align: left;
	padding-left: 20px;
}

.resume .left .info th {
	table-layout: auto;
	text-align: left;
	padding-left: 20px;
	width: 50px;
}

.resume .left .skills table {
	width: 100%;
	border-collapse: collapse;
	table-layout: auto;
}

.resume .left .skills td {
	text-align: left;
	padding: 8px;
}

.resume .left .skills td:first-child{
	padding-left: 20px;
	width: 25%;
	color: #fff;
}

.resume .right {
	width: 50%;
	background: #fff;
	padding: 25px;
	line-height: 30px;
}

.resume .right h2 {
	margin: 10px 0 5px 25px;
}

.resume .right .text{
	margin-top: 10px;
	margin-left: 30px;
	text-align: justify;
}

.resume .right .bold {
	color: #0bb5f4;
}

.resume .right ul li {
	position: relative;
}

.resume .right .about,
.resume .right .education,
.resume .right .certificate,
.resume .right .reference{
	padding-top: 60px;
}

.resume .right .regular{
	color: black;
	margin-left: 50px;
	font-size: 17px;
}

.resume .right .education table {
	width: 80%;
	margin-left: 50px;
	table-layout: auto;
}

.resume .right .education th {
	padding-left: 25px;
	font-weight: lighter;
	text-align: left;
}

.resume .right .certificate table {
	width: 80%;
	margin-left: 50px;
	table-layout: auto;
}

.resume .right .reference li {
	margin-left: 50px;
	text-align: left;
}

.proficiency {
	position: relative;
	background-color: #fff;
	border-radius: 5px;
	height: 20px;
	width: 100%;
	display: inline-block;
	vertical-align: middle;
}

.proficiency span {
	position: absolute;
	background-color: #006eff;
	height: 100%;
	border-radius: 5px;
}
